* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1e1e2f; 
    color: #ffffff;
}

h1 {
    text-align: center;
    margin: 100px auto 10px;
    font-weight: 600;
    font-size: 2.5em;
}

form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: #27293d;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

form input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #c8d6cf;
    font-size: 18px;
    padding: 0 30px;
    border-radius: 8px 0 0 8px;
}

form button {
    padding: 0 40px;
    height: 100%;
    background: #ff6f61;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #c0923f;
}

::placeholder {
    color: #ffffff;
    opacity: 0.8;
}

#search-result {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background: #368b0b;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: calc(30% - 20px);
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.card img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.50);
}

#show-more-btn {
    background: #3c1f86;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 20px auto; 
    cursor: pointer;
    display: block; 
    transition: background 0.3s;
    text-align: center; 
    width: 200px; 
}
.no-results {
    text-align: center;
    font-size: 20px;
    color: gray;
}

#show-more-btn:hover {
    background: #e55b53;
}
